<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>index</title>
</head>
<body>
<h1>Welcome to hospital Website</h1>
<hr>

<p> Services available : </p>
<hr>
<ul class="nav nav-tabs d-flex justify-content-center "
		style="font-size: 30px; background-color: rgb(0, 255, 255);">
		<li class="nav-item"><a class="nav-link" href="doctor">Doctor</a></li>
		<li class="nav-item "><a class="nav-link" href="patient">Patient</a></li>
		<li class="nav-item "><a class="nav-link" href="specialization">Specialization</a></li>
	   <li class="nav-item "><a class="nav-link" href="appointment">Appointment</a></li>
		
	</ul>

   <hr>
   

</body>
</html>